.section-hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/jpg/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  @media screen and (max-width: 767px) {

    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/jpg/mobile-hero.jpg');
  }
}

.hero-h1 {
  margin-right: auto;
  margin-left: auto;
  color: $text-on-background;
  letter-spacing: 0.06em;
  line-height: 1.36;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  margin-top: 0px;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media screen and (max-width: 767px) {
    font-size: 26px;
    line-height: 1.61;
  }
}


.hero-button {
  color: $text-on-background;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 1.87;
  font-size: 16px;
  font-weight: 700;
  background: $link-changing-color;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
