.section-name-list {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  border-radius: 0px 0px 4px 4px;
  @media screen and (max-width: 767px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
  }
}

.section-list-name {
  background-color: #f5f4fa;
}

.list-name-social-network {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }

  &:hover .list-name-icon,
  &:focus .list-name-icon {
    fill: #ffffff;
  }
}

.list-name-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.section-list-name .list-style {
  display: flex;
  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.section-list-name .list-style > .list {
  background-color: #ffffff;
}

.section-list-name .list:not(:last-child) {
  margin-right: 30px;
  @media screen and (max-width: 767px) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
.section-list-name .list:nth-child(-n + 2) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 0px;
    margin-bottom: 30px;
  }
}

.section-list-name .list:not(:nth-child(2n)) {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 30px;
  }
}

.section-list-name-img {
  margin-bottom: 30px;
}
.section-list-name .section-name {
  margin-top: 0px;
  margin-bottom: 50px;
}

.section-list-name .list-style-icon {
  display: flex;
  /* justify-content: space-around; */
  justify-content: center;
}

.section-list-name .social-network {
  padding-bottom: 36px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
