
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $heading-text-color;
  margin-top: 0px;
  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: $text-color;
  margin-top: 0px;
  margin-bottom: 28px;
}
