.logo-web {
  color: $logo-color-web;
}

.logo-footer.logo {
  color: $text-on-background;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.19;
  color: $header-color-logo;
  margin-right: 85px;
}
